form {
  border: 5px solid var(--theme-color);
  padding: 32px;
  font-size: 20px;
  width: 40%;
}
form label {
  margin-bottom: 8px;
}
.display-flex {
  display: flex;
  margin-bottom: 5%;
}
.display-flex div {
  width: 50%;
}
.display-flex div:first-child {
  margin-right: 25px;
}
.display-flex input {
  height: 25px;
  width: 100%;
  border-radius: 0;
  border-width: 2px;
  /* border-color: var(--theme-color); */
  box-shadow: none;
}
.main-contant {
  display: flex;
  box-sizing: border-box;
}
.img-main {
  width: 50%;
}
.agree {
  margin-bottom: 32px;
}
label:not([for="agree"]) {
  display: block;
}
label[for="agree"] {
  font-size: 16px;
}
textarea {
  width: 100%;
  border-radius: 0;
  border-width: 2px;
  /* border-color: var(--theme-color); */
  box-shadow: none;
  margin-bottom: 32px;
}
.terms {
  text-decoration: none;
  color: var(--theme-color);
}
.terms:hover {
  text-decoration: underline;
  cursor: pointer;
}
button {
  border: none;
  background-color: var(--theme-color);
  padding: 8px;
  font-size: 16px;
  color: var(--body-color);
}
button:hover {
  border: 1px solid var(--theme-color);
  background-color: var(--body-color);
  color: var(--theme-color);
  cursor: pointer;
}
