:root {
  --theme-color: #ebcd6a;
  --body-color: #fcfcfc;
}

html {
  font-family: "Source Serif Pro", serif;
}
body {
  background-color: var(--body-color);
  padding: 3% 0;
}
main {
  width: 60%;
  margin: 0 auto;
}
aside {
  width: 25%;
  border: 1px solid var(--theme-color);
  align-self: right;
  border-radius: 5px;
}
h2 {
  font-size: 160%;
  margin-bottom: 3%;
  color: var(--theme-color);
}
.lasagna-image {
  width: 70%;
}
.extra {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5%;
}
.bold {
  font-weight: bold;
}
.lasagna-image {
  border-radius: 5px;
}
.ingridients {
  margin-bottom: 5%;
}
h1.main-header {
  font-family: "Montserrat", sans-serif;
  font-size: 300%;
  text-align: left;
  margin-bottom: 5%;
  text-decoration: underline;
  text-decoration-color: var(--theme-color);
}
h1.main-header:hover {
  text-decoration: none;
  color: var(--theme-color);
}
main > div > p {
  font-size: 160%;
  margin-bottom: 3%;
  line-height: 1.3;
}
aside > div {
  margin: 5% 5%;
}
aside > div > p {
  margin-bottom: 5%;
}
aside > div > p:last-child {
  margin-bottom: 0;
}
div.ingridients > p {
  margin-bottom: 2%;
}
div.ingridients > p:last-child {
  margin-bottom: 3%;
}
div.directions > div {
  margin-bottom: 3%;
}
div.directions > div > p {
  margin-bottom: 1%;
}
div.directions > div > p:last-child {
  line-height: 1.3;
}
