main{
    width: 50%;
    margin: 0 auto;
}
.lasagna-image{
    width:70%;
}
.extra{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
aside{
    width: 25%;
    border: 1px solid rgb(182, 182, 182);
    align-self: right;
}